<section class="one-third column" id="blog-intro">
		<img class="profile-picture" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-19/s150x150/13391338_1566324326997164_952891866_a.jpg">

		<p>Crown & Jewels</p>

		<hr>

		<p>We are Crown & Jewels. Two world travelers based in Ireland.</p>
</section>