/*
COLORS:
#FE938C - ROT
#E6B89C - DARK BEIGE
#EAD2AC - BEIGE
#9CAFB7 - HELLBLAU
#4281A4 - DUNKELBLAU
*/

/*** TYPO ***/
@import url(https://fonts.googleapis.com/css?family=Euphoria+Script);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

body { font-family: 'Droid Serif', serif; }
a { color: #4281A4;
	text-decoration: none;
	transition: font-weight 0.2s;
	transition: color 0.2s; }
	
.active { font-weight: 700; }
h1, h2, h3, h4, h5, h6 { 
	margin: 0;
	font-family: 'Raleway', sans-serif; }
.letter-head { text-align: right; }

/*** POSITIONING ***/
.container { padding: 2rem 0; }
@media(max-width: 1280px){
	.mobile-ignore {
		display: none;
	}
}

/* NAVIGATION */
nav {
	background: #FE938C;
	color: #FFFFFF;
}
.title { font-family: 'Euphoria Script', cursive; }
nav .nav-link { 
	margin: 1.5rem 0;
	margin-left: 4%; }
nav .nav-link a { padding: 0 1rem; }

/* CONTENT */
input, button { border: 1px solid #222; }
input:hover, input::focus, button:hover, button::focus { border: 1px solid #EAD2AC; }
#blog-intro { 
	border: 1px dashed #212121;
	padding: 1rem;
	text-align: center; }
.profile-picture { border-radius: 50%; }
#blog-intro img.profile-picture { 
	margin: 0 auto;
	display: block; }

/* LOGIN */
#login-wrapper {
	padding: 3rem;
	border: 1px solid #4281AA;
	border-radius: 4px;
	background-color: #FE938C;
	color: #fff;
}
#login-wrapper input { color: #222; }
#login-wrapper button {
	color: #fff;
	border: 1px solid #fff; }
#login-wrapper button:hover, #login-wrapper button:focus {
	color: #fff; }

	/* FOOTER*/
footer {
	background: #4281A4;
	color: #FFFFFF; }
footer a { color: #E6B89C; }
footer a:hover { color: #FE938C; }


/*** EYE CANDY ***/
.pattern-arabesque {
	background-image: url("http://www.transparenttextures.com/patterns/arabesque.png");
}
.pattern-food {
	background-image: url("http://www.transparenttextures.com/patterns/food.png");
}


.pattern-tapete {
	background-image: url('http://www.transparenttextures.com/patterns/crisp-paper-ruffles.png');
}
.pattern-always-grey {
	background-image: url("http://www.transparenttextures.com/patterns/always-grey.png");
}