/*
COLORS:
#FE938C - ROT
#E6B89C - DARK BEIGE
#EAD2AC - BEIGE
#9CAFB7 - HELLBLAU
#4281A4 - DUNKELBLAU
*/

/*** TYPO ***/
@import url(https://fonts.googleapis.com/css?family=Euphoria+Script);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

body { font-family: 'Droid Serif', serif; }
a { color: #4281A4;
	text-decoration: none;
	transition: font-weight 0.4s;
	transition: color 0.4s; }
	
.active { font-weight: 700; }
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; }
.letter-head { text-align: right; }
.center-text { text-align: center; }


/*** POSITIONING ***/
.container { padding: 2rem 0; }
@media(max-width: 1280px){
	.mobile-ignore {
		display: none;
	}
}
.post-map-container { 
	width: 100%;
	overflow: hidden; }
.post-map { 
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); }

/* NAVIGATION */
nav {
	background: #FE938C;
	color: #FFFFFF;
}
.title { 
	font-family: 'Euphoria Script', cursive;
	margin: 0; }
.title a { color: #FFF; }
nav .nav-link ul { margin: 1.5rem 0; }
nav .nav-link ul li { 
	display: inline;
	list-style-type: none; }
nav .nav-link ul li a::before { 
	content: '•';
	position: relative;
	top: 4.5rem;
	left: 3rem;
	opacity: 0;

	transition: opacity 0.05s;
	transition: top 0.1s ease-out; }	
nav .nav-link ul li a.active::before { 
	content: '•';
	position: relative;
	top: 2rem;
	left: 3rem;
	opacity: 1; }	

nav .nav-link a { padding: 0 1rem; }

/* CONTENT */
input, button { border: 1px solid #222; }
input:hover, input::focus, button:hover, button::focus { border: 1px solid #EAD2AC; }

.date-highlight { 
	border-radius: 50%;
	border: 1px dashed #4281A4;
	width: 6.5rem;
	height: 6.5rem;
	line-height: 6.5rem; }
.date-highlight span { 
	display: inline-block;
    vertical-align: middle;
    line-height: normal; }	
.date-highlight span i { font-size: 85%; }

#blog-intro { 
	border: 1px dashed #4281A4;
	padding: 1rem;
	text-align: center; }
.profile-picture { border-radius: 50%; }
#blog-intro img.profile-picture { 
	margin: 0 auto;
	display: block; }

/* LOGIN */
#login-wrapper {
	padding: 3rem;
	border: 1px solid #4281AA;
	border-radius: 4px;
	background-color: #FE938C;
	color: #fff; }
#login-wrapper input { color: #222; }
#login-wrapper button {
	color: #fff;
	border: 1px solid #fff; }
#login-wrapper button:hover, #login-wrapper button:focus {
	color: #fff; }

	/* FOOTER*/
footer {
	background: #4281A4;
	color: #FFFFFF; }
footer a { color: #E6B89C; }
footer a:hover { color: #FE938C; }


/*** EYE CANDY ***/
.pattern-arabesque {
	background-image: url("http://www.transparenttextures.com/patterns/arabesque.png");
}
.pattern-food {
	background-image: url("http://www.transparenttextures.com/patterns/food.png");
}


.pattern-tapete {
	background-image: url('http://www.transparenttextures.com/patterns/crisp-paper-ruffles.png');
}
.pattern-always-grey {
	background-image: url("http://www.transparenttextures.com/patterns/always-grey.png");
}