<div class="container row">
	<section class="nine columns">
		<h3>Hi everyone!</h3>
		<p>We are Crown & Jewels. Two world travelers based in Ireland.</p>
	</section>
	<section class="three columns"></section>
</div>