<nav class="row pattern-always-grey">
	<div class="container">	
		<div class="one-half column"><h2 id="title">Crown&Jewels</h2></div>
		<div class="one-half column nav-link">
			{{link-to 'Home' 'index'}}
			{{link-to 'About' 'about'}}
		</div>
	</div>
</nav>

<div id="content-wrapper">
{{outlet}}
</div>

<footer class="pattern-tapete">
	<div class="container">
		We are Crown and Jewels and we love to travel the world.<br />
		Join us!

		<a href="://instagram.com/crownandjewels">{{fa-icon "fa-instagram"}}</a>
	</div>
</footer>