<section>

	<div class="container row">
			<h2 class="title offset-by-four four columns">Crown&Jewels</h2>
	</div>
	<div class="container row">
		<div id="login-wrapper" class="offset-by-four four columns pattern-food">

			<form>
				<label for="user-name">User:</label>
				<input id="user-name" class="u-full-width" type="text" />

				<label for="user-password">Password:</label>
				<input id="user-password" class="u-full-width" type="password" />
				<hr />
				<button type="submit" >Login</button>
			</form>

		</div>

	</div>
</section>