<section class="container">

	<h3>Hey Jewels!</h3>
		
		<p>Let's write another blog post!</p>

		<form>
			<label for="title">Enter your title here:</label>
			<input id="title" type="text">

			<hr />

			<label for="post-body">And here the text:</label>
			<textarea id="post-body" class="u-max-full-width"></textarea>
		</form>
		<button>Submit</button>

</section>