<div class="container">

	<h4>Welcome to our world!</h4>

	<section id="blog-history">
		{{#each model as |post| }}
			{{#link-to 'post' post.id}}<h3>{{post.title}}</h3><small class="muted">{{post.date}}</small>{{/link-to}}
			<p>{{post.excerpt}}</p>
			
		{{else}}
			<p>We are on adventure right now, will post later!</p>
		{{/each}}
	</section>

</div>